{% extends 'base.html.twig' %}

{% block body %}
<h1 > Search youtube videos by keywords </h1>
    <section class="ui container" >



        <div class="input-group mb-3">
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="keyword" aria-label="keyword" aria-describedby="button-addon2">
            <button class="ui button " >Search</button>
        </div>


    </section>

    <div id="videos">
{#        {% for video in videos %}#}
{#            <p>{{ video.title }}</p>#}
{#            <p>{{ video.description }}</p>#}
{#            <img src="{{ video.thumbnails.default.url }}" width="{{ video.thumbnails.default.width }}" height="{{ video.thumbnails.default.height }}">#}
{#        {% endfor %}#}
    </div>

{#    <nav id="pagination">#}
{#        {{ knp_pagination_render(pagination) }}#}
{#    </nav>#}
{% endblock %}

{% block javascripts %}
<script language = "javascript"
        src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script language = "javascript">

        $(document).ready(function(){
            $(window).on('load', function() {
                $.post({
                    url:        '/',
                    data:       {"keyword": null},
                    type:       'POST',
                    dataType:   'json',

                    success: function(data, status) {
                        // console.log(data);
                        $('#videos').html('');
                        for(let i = 0; i < data.length; i += 3) {
                            video1 = data[i];
                            video2 = data[i + 1];
                            video3 = data[i + 2];

                            let e = $('<div class="row">' +
                                '<div class="col-md-4">' +
                                '<h2>' + video1.title + '</h2>' +
                                '<p>' + video1.description + '</p>' +
                                '<img src="'+ video1.thumbnails.high.url +'" class="img-fluid" alt="Responsive image" />' +
                                '</div>' +
                                '<div class="col-md-4">' +
                                '<h2>' + video2.title + '</h2>' +
                                '<p>' + video2.description + '</p>' +
                                '<img src="'+ video2.thumbnails.high.url +'" class="img-fluid" alt="Responsive image"/>' +
                                '</div>' +
                                '<div class="col-md-4">' +
                                '<h2>' + video3.title + '</h2>' +
                                '<p>' + video3.description + '</p>' +
                                '<img src="'+ video3.thumbnails.high.url +'" class="img-fluid" alt="Responsive image"/>' +
                                '</div>' +
                                '</div><hr>');
                            $('#videos').append(e);
                            //
                            // $('#name', e).html(student['name']);
                            // $('#address', e).html(student['address']);
                            // $('#student').append(e);
                        }

                        // let $pagination = data['pagination'];
                        // $('#pagination').html();
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });

            $(".button").on("click", function(event){
                console.log($('#keyword').val());
                $.post({
                    url:        '/',
                    data:       {"keyword": $('#keyword').val()},
                    type:       'POST',
                    dataType:   'json',

                    success: function(data, status) {
                        // console.log(data);
                        $('#videos').html('');
                        for(let i = 0; i < data.length; i += 3) {
                            video1 = data[i];
                            video2 = data[i + 1];
                            video3 = data[i + 2];

                            let e = $('<div class="row">' +
                                '<div class="col-md-4">' +
                                    '<h2>' + video1.title + '</h2>' +
                                    '<p>' + video1.description + '</p>' +
                                    '<img src="'+ video1.thumbnails.high.url +'" class="img-fluid" alt="Responsive image"/>' +
                                '</div>' +
                                '<div class="col-md-4">' +
                                    '<h2>' + video2.title + '</h2>' +
                                    '<p>' + video2.description + '</p>' +
                                    '<img src="'+ video2.thumbnails.high.url +'" class="img-fluid" alt="Responsive image"/>' +
                                '</div>' +
                                '<div class="col-md-4">' +
                                    '<h2>' + video3.title + '</h2>' +
                                    '<p>' + video3.description + '</p>' +
                                    '<img src="'+ video3.thumbnails.high.url +'" class="img-fluid" alt="Responsive image"/>' +
                                '</div>' +
                                '</div><hr>');
                            $('#videos').append(e);
                        }
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}